* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    hsla(183, 46%, 74%, 1) 0%,
    hsla(183, 100%, 29%, 1) 100%
  );
  font-family: sans-serif;
  text-align: center;
}

.block {
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  height: 200px;
  width: 200px;
  color: #333;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
